<h1 id="page-header">Computers</h1>
<% for (let i = 0; i < count; i++) { %> 
<div class="item">
    <img id="computer-pic" src="<%= data[i].image %>">
    <div class="info">
        <p id="name"><%= data[i].name %></p>
        <p id="position"><%= data[i].position %></p>
        <p id="price">Price: $<%= data[i].price %></p>
        <p id="buy"><a href="<%= data[i].buy %>" target="_blank">Click here to buy or view information!</a></p>
    </div>
    <div class="rateYo"></div>
</div>
<% } %>

<%- include partials/comment %>