<h1 id="page-header">Computers</h1>
<!-- Loops through each item in the computer data array, count is the length of the 
array or the query amount -->
<% for (let i = 0; i < count; i++) { %>
<div class="item">
    <img class="computer-pic" src="<%= data[i].image %>" alt="Computer Image">
    <div class="info">
        <p class="name"><%= data[i].name %></p>
        <p class="position"><%= data[i].position %></p>
        <p class="price">Price: $<%= data[i].price %></p>
        <p class="buy"><a href="<%= data[i].buy %>" target="_blank">Click here to buy or view information!</a></p>
    </div>
    <div class="rateYo"></div>
</div>
<% } %>

<!-- Includes the comment section to the bottom of the computers page -->
<%- include partials/comment %>